@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif|Merriweather|Merriweather+Sans|Roboto|Shadows+Into+Light|Shadows+Into+Light+Two');
html, body {
  font-family: "Droid Sans";
  background: #eee;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #000;
}

h1, h2, a {
  font-family: "Merriweather Sans";
}

ul, p {
  line-height: 32px;
  font-size: 18px;
}

hr {
  height: 2px;
  background-color: #ec954a;
  border: none;
}

.content {
  display: flex;
  flex-direction: row;
  margin: 1em;
  padding: 1em;
  margin-left: 5%;
  margin-right: 5%;
}
  .izq {
    flex: 1;
    text-align: center;
    padding: 1em;
    margin-right: 1em;
  }
  .der {
    flex: 3;
    margin-left: 1em;
  }

.elementos {
  display: flex;
  flex-direction: column;
}
  .img {
    flex: 2;
  }
  .uno, .dos, .tres, .cuatro {
    flex: 1;
    margin-top: 1em;
    box-shadow: 0px 0px 5px 2px #ddd;
    border-radius: 10px;
    background: #fff;
    color: #aaa;
    padding: 0.5em;
    text-decoration: none;
  }

  .elementos a:visited {
    color: #aaa;
  }

  .elementos a:hover {
    background: #ec954a;
    box-shadow: 0px 0px 5px 2px #ec954a;
    color: #fff;
  }

.img img {
  border-radius: 100px;
  box-shadow: 0px 0px 5px 2px #ddd;
  margin: 1em;
}

.cuadros {
  /*border: 1px dashed black;*/
  display: flex;
  flex-direction: column;
  padding: 1em;
  text-align: left;
  color: #999;
}
  .quiensoy {
    flex: 1;
    background: #fff;
    padding: 1em;
    box-shadow: 0px 0px 5px 2px #ddd;
    border-radius: 10px;
  }
  .formacion {
    flex: 1;
    background: #fff;
    margin-top: 1em;
    padding: 1em;
    box-shadow: 0px 0px 5px 2px #ddd;
    border-radius: 10px;
  }
  .experiencia {
    flex: 1;
    background: #fff;
    margin-top: 1em;
    padding: 1em;
    box-shadow: 0px 0px 5px 2px #ddd;
    border-radius: 10px;
  }
  .portfolio {
    flex: 1;
    background: #fff;
    margin-top: 1em;
    padding: 1em;
    box-shadow: 0px 0px 5px 2px #ddd;
    border-radius: 10px;
    color: #aaa;
  }

.cuadros .quiensoy h2 {
  color: #ec954a;
  font-size: 50px;
  text-align: center;
}

.cuadros .quiensoy h3 { text-align: center; font-size: 25px; }

.cuadros .quiensoy ul {
  list-style: none;
  line-height: 20px;
  margin-right: 2em;
}
.cuadros .quiensoy p {
  padding: 2em;
}

.titulo {
  font-size: medium;
  text-align: left;
}

.cuadros strong {
  color: #ec954a;
}

.cuadros h3 {
  color: #555;
}

.img-portfolio {
  padding: 1em;
  text-align: center;
}

.img-portfolio img {
  margin: 0.5em;
}

.img-portfolio img:hover {
  box-shadow: 0px 0px 5px 2px #ec954a;
}

/* Boton para subir al top del index */
.up {
  display:none;
	padding:20px;
	background:#ec954a;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	left:20px;
  box-shadow: 0px 0px 1px 1px #ec954a;
}

.up:hover {
  box-shadow: 0px 0px 5px 2px #ec954a;
}
